* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(77, 77, 77, 0.7), rgba(35, 43, 59, 0.7)), url(images/cookieJar1.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
}

.logo {
  width: 80px;
}

.navBar {
  padding-top: 10px;
  flex: 1;
  text-align: right;
}

.navBar ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 25px;
  position: relative;
}

.navBar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.navBar ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #004481;
  display: block;
  margin-top: 5px;
  transition: 0.5s;
}

.navBar ul li:not(:nth-of-type(2)):hover::after {
  width: 100%;
}

.navBar ul li a.chosen::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #004481;
  display: block;
  margin-top: 5px;
}

.textBox {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textBox h1 {
  font-size: 55px;
}

.textBox p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
}

.gitHub-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.gitHub-button:hover {
  border: 1px solid #004481;
  background: #004481;
  transition: 1s;
}

nav .fa-regular {
  display: none;
}

nav .fa-solid {
  display: none;
}

@media(max-width: 700px) {
  .textBox h1 {
    font-size: 25px;
  }

  .navBar ul li {
    display: block;
    padding: 10px;
  }
  
  .navBar ul li a {
    padding: 10px;
  }

  .navBar {
    position: absolute;
    background: #004481;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }

  .navBar ul li a.chosen::after {
    display: none;
  }

  nav .fa-regular {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  
  nav .fa-solid {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}

/* ---project.css start--- */

.project {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;  
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.proj-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 700;
  margin: 10px 0;
}
.proj-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
  .row{
    flex-direction: column;
  }
}

/* ---project samples--- */

.proj-samples{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.proj-samp-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.proj-samp-col img{
  width: 100%;
  border-radius: 10px;
}
.proj-samp-col p{
  padding: 0;
}
.proj-samp-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}

/* ---testimonials--- */

.testimonials{
  width: 80%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
.testimonial-col{
  flex-basis: 44%;
  border-radius: 40px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonial-col img{
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}
.testimonial-col p{
  font-size: 20px;
  padding: 0;
}
.testimonial-col h3{
  margin-top: 15px;
  text-align: left;
}
.testimonial-col .fa-regular{
  color: gold;
}
.testimonial-col .fa-solid{
  color: gold;
}

@media(max-width: 700px) {
  .testimonial-col img{
      margin-left: 0px;
      margin-right: 15px;
  }
}

/* ---project page--- */

.proj-header{
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(77, 77, 77, 0.7), rgba(35, 43, 59, 0.7)),url(images/CookieOnPlate.png);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #fff;
}
.proj-header h1{
  margin-top: 0px;
  font-size: 64px;
}

@media(max-width: 700px) {
  .proj-header h1{
    margin-top: 58px;
    font-size: 41px;
  }
}